{% extends "./base.html" %}
{% block title %}Create Post{% endblock  %}

{% block content %}
<h1>Create a New Post</h1>
{% if user.is_authenticated %}
<form action="{% url 'post_form' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create New Post</button>
</form>
    <a href="{% url 'home' %}">Back to Home</a>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    {% endif %}
{% endblock  %}